/* Creates variables for the 2 most used colors in the webpage */
:root {
    --primary-color: #00adee;
    --secondary-color: #1b4297;
}

/* Good starter CSS for every html page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 10px 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    text-shadow: none;
}

section {
    margin: 20px;
}

#about p {
    margin: 30px 0;
    text-align: left;
}

#contact {
    margin-top: 100px;
}

#contact a {
    text-decoration: underline;
    color: var(--primary-color);
}

#resume {
    margin-top: 50px;
}

.embed-resume {
    text-align: center;
}

/* Applies style to every section header that includes bottom border */
.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 15px auto 35px auto;
    width: 90%;
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    border-color: var(--primary-color);
}

.bio {
    margin: 0 auto;
    text-align: left;
}

/* Adds border to the photo of me */
.bio img {
    width: 20%;
    border: 5px solid var(--primary-color);
}

.bio-text {
    padding: 35px;
    width: 70%;
}

.bio-text h3 {
    font-size: 200%;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--primary-color);
}

.bio-text p {
    font-size: 150%;
}

.works {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 5px solid var(--primary-color);
}

/* Makes images slightly transparent when hovered over */
.work:hover {
    opacity: 0.7;
}

.work img {
    width: 100%;
}

.work a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.work-text {
    padding: 25px;
    line-height: 1.3;
}

.work-text h3 {
    font-size: 28px;
}

.contact-links {
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 20px;
    margin: 20px 100px;
}

footer div,
footer article {
    text-align: center;
    width: 100%;
}

/* Makes the first webpage, Run Buddy, the biggest on the screen */
#flowers-to-go {
    margin: 20px 50px;
    width: 50%;
    flex: 100%;
}

/* Fits the other 2 webpages in the same row */
#password-generator,
#soccer-fan-central, #mcu-countdown-clock, #team-generator {
    margin: 0 10px 20px 10px;
    flex: 40%;
}

/* Defines the flex properties for each element that adds this class */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* MEDIA QUERY FOR NORMAL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1300px) {
    .contact-container {
        flex-direction: column;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .bio-text h3 {
        font-size: 150%;
    }

    .bio-text p {
        font-size: 125%;
    }

    .section-title {
        width: 80%;
    }

    .bio img {
        width: 30%;
    }

    .flex-row {
        flex-direction: column;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .bio-text h3 {
        text-align: center;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
}
